### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [163]:
# Dependencies and Setup
import os 
import pandas as pd

# File to Load (Remember to Change These)
csv_path = "Resources/purchase_data.csv"
#cwd = os.getcwd()
#cwd

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(csv_path)

purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [164]:
player_count = purchase_df.loc[:, ["Gender", "SN", "Age"]]
player_count

     Gender             SN  Age
0      Male        Lisim78   20
1      Male    Lisovynya38   40
2      Male     Ithergue48   24
3      Male  Chamassasya86   24
4      Male      Iskosia90   23
..      ...            ...  ...
775  Female     Aethedru70   21
776    Male         Iral74   21
777    Male     Yathecal72   20
778    Male        Sisur91    7
779    Male      Ennrian78   24

[780 rows x 3 columns]

## Player Count

* Display the total number of players

In [165]:
players_count =len(purchase_df["SN"].unique())
players_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [166]:
#Number of Unique Items
items_df = len(purchase_df["Item ID"].unique())
items_df

179

In [167]:
# Average Purchase Price
average_price_df = purchase_df["Price"].mean()
average_price_df

3.050987179487176

In [168]:
# Total Number of Purchases
total_purch_df = purchase_df["Purchase ID"].count()
total_purch_df

780

In [169]:
# Total Revenue
total_revenue = purchase_df["Price"].sum()
total_revenue

2379.77

In [170]:
# Create a summary data frame

purchase_summary_df = pd.DataFrame({
    "Unique Items": [items_df],
    "Purchase Price": [average_price_df],
    "Number of Purchases": [total_purch_df],
    "Total Revenue": [total_revenue]
})


purchase_summary_df

   Unique Items  Purchase Price  Number of Purchases  Total Revenue
0           179        3.050987                  780        2379.77

In [171]:
purchase_summary_df.dtypes

Unique Items             int64
Purchase Price         float64
Number of Purchases      int64
Total Revenue          float64
dtype: object

In [172]:
# cleaning the outputs of the dataframe

purchase_summary_df = purchase_summary_df.round(2)
purchase_summary_df["Total Revenue"] = purchase_summary_df["Total Revenue"].map("${:,}".format)
purchase_summary_df["Purchase Price"] = purchase_summary_df["Purchase Price"].map("${:,}".format)
purchase_summary_df

   Unique Items Purchase Price  Number of Purchases Total Revenue
0           179          $3.05                  780     $2,379.77

In [173]:
purchase_summary_df.dtypes

Unique Items            int64
Purchase Price         object
Number of Purchases     int64
Total Revenue          object
dtype: object

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [174]:
# Average of Male and female Players and non disclosed
average_gender_df = purchase_df["Gender"].value_counts(normalize=True) *100
average_gender_df

Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64

In [175]:
# Count by gender
purchase_df["Gender"].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [176]:
# Purchase Count by gender 
gender_count_df = purchase_df["Gender"].value_counts()
gender_count_df

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [177]:
# Extract the following columns
gender_type_df = purchase_df[["Gender", "Price"]]

gender_type_df.head()

  Gender  Price
0   Male   3.53
1   Male   1.56
2   Male   4.88
3   Male   3.27
4   Male   1.44

In [178]:
# Average purchase price by gender

gender_group_df = gender_type_df.groupby(["Gender"])

gender_comparison_df = gender_group_df.mean()
gender_comparison_df.head()

                          Price
Gender
Female                 3.203009
Male                   3.017853
Other / Non-Disclosed  3.346000

In [179]:
# Total purchase value by gender
gender_group_df = gender_type_df.groupby(["Gender"])

gender_comparison_df = gender_group_df.sum()
gender_comparison_df.head()

                         Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19

In [180]:
# Average Purchase Total per Person by Gender NEED HELP HERE, why do i need to keep doing this?

gender_group_df = gender_type_df.groupby(["Gender", "Price"])


## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [181]:
# Figure out the minimum and maximum views
print(purchase_df["Age"].max())
print(purchase_df["Age"].min())

45
7

In [182]:
# Bins for ages of 4 years
player_age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 44.9, 49.9]

# Names of bins
age_groups = ["0 to 10", "10 to 14", "15 to 19", "20 to 24", "25 to 29", "30 to 34", "35 to 39", "40 to 44", "45 to 49"]

# Place data into bins

# pd.cut(purchase_df["Age"], bins, labels=age_groups)

player_count.loc[:, "Age Ranges"] = pd.cut(player_count.loc[:,("Age")], player_age_bins, labels=age_groups)
player_count.loc[:, "Age Ranges"]

0      20 to 24
1      40 to 44
2      20 to 24
3      20 to 24
4      20 to 24
         ...
775    20 to 24
776    20 to 24
777    20 to 24
778     0 to 10
779    20 to 24
Name: Age Ranges, Length: 780, dtype: category
Categories (9, object): [0 to 10 < 10 to 14 < 15 to 19 < 20 to 24 ... 30 to 34 < 35 to 39 < 40 to 44 < 45 to 49]

In [183]:
# Calculate the numbers and percentages by age group

player_count_totals = player_count["Age Ranges"].value_counts()
player_count_totals

20 to 24    365
15 to 19    136
25 to 29    101
30 to 34     73
35 to 39     41
10 to 14     28
0 to 10      23
40 to 44     12
45 to 49      1
Name: Age Ranges, dtype: int64

In [184]:
player_count_percentages = player_count_totals / players_count
player_count_percentages

20 to 24    0.633681
15 to 19    0.236111
25 to 29    0.175347
30 to 34    0.126736
35 to 39    0.071181
10 to 14    0.048611
0 to 10     0.039931
40 to 44    0.020833
45 to 49    0.001736
Name: Age Ranges, dtype: float64

In [185]:
# Summary dataframe to hold results

player_count_df = pd.DataFrame({
    "Total ": player_count_totals,
    "Percentage": player_count_percentages
    
})
player_count_df

          Total   Percentage
20 to 24     365    0.633681
15 to 19     136    0.236111
25 to 29     101    0.175347
30 to 34      73    0.126736
35 to 39      41    0.071181
10 to 14      28    0.048611
0 to 10       23    0.039931
40 to 44      12    0.020833
45 to 49       1    0.001736

In [186]:
# Need to format the data see above rows in code

player_count_df["Percentage"] = player_count_df["Percentage"].map("{:,.2%}".format)
                                          
player_count_df.sort_index()

          Total  Percentage
0 to 10       23      3.99%
10 to 14      28      4.86%
15 to 19     136     23.61%
20 to 24     365     63.37%
25 to 29     101     17.53%
30 to 34      73     12.67%
35 to 39      41      7.12%
40 to 44      12      2.08%
45 to 49       1      0.17%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [187]:
# bin the purchase data by age 
purchase_df["Age Ranges"] = pd.cut(purchase_df["Age"], player_age_bins, labels=age_groups)
purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20 to 24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40 to 44
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 to 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 to 24
4,4,Iskosia90,23,Male,131,Fury,1.44,20 to 24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20 to 24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20 to 24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20 to 24
778,778,Sisur91,7,Male,92,Final Critic,4.19,0 to 10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20 to 24

In [188]:
# Purchase count by age grouped 
purch_age_sum = purchase_df.groupby(["Age Ranges"]).sum()["Price"].rename("Sum Purchase Age")
purch_age_sum

Age Ranges
0 to 10       77.13
10 to 14      82.78
15 to 19     412.89
20 to 24    1114.06
25 to 29     293.00
30 to 34     214.00
35 to 39     147.67
40 to 44      36.54
45 to 49       1.70
Name: Sum Purchase Age, dtype: float64

In [189]:
# Average price by age grouped 
avg_purch_age = purchase_df.groupby(["Age Ranges"]).mean()["Price"]
avg_purch_age

Age Ranges
0 to 10     3.353478
10 to 14    2.956429
15 to 19    3.035956
20 to 24    3.052219
25 to 29    2.900990
30 to 34    2.931507
35 to 39    3.601707
40 to 44    3.045000
45 to 49    1.700000
Name: Price, dtype: float64

In [190]:
# NEED HELP DIVIDING BY WRONG THINGS average total using age_purchase_total and age_demographic["Total Count"]

avg_total_person = purch_age_sum / players_count
avg_total_person

Age Ranges
0 to 10     0.133906
10 to 14    0.143715
15 to 19    0.716823
20 to 24    1.934132
25 to 29    0.508681
30 to 34    0.371528
35 to 39    0.256372
40 to 44    0.063437
45 to 49    0.002951
Name: Sum Purchase Age, dtype: float64

In [191]:
# PUT IN DATA FRMAE WHEN ABOVE IS CORRECT

purch_analysis_summary_df = pd.DataFrame({
    "Grouped Purchase count": purch_age_sum,
    "Average Purchase Age": avg_purch_age,
    "Average Purchase total": avg_purch_total
})


purch_analysis_summary_df

,Grouped Purchase count,Average Purchase Age,Average Purchase total
Age Ranges,,,
0 to 10,77.13,3.353478,0.133906
10 to 14,82.78,2.956429,0.143715
15 to 19,412.89,3.035956,0.716823
20 to 24,1114.06,3.052219,1.934132
25 to 29,293.00,2.900990,0.508681
30 to 34,214.00,2.931507,0.371528
35 to 39,147.67,3.601707,0.256372
40 to 44,36.54,3.045000,0.063437
45 to 49,1.70,1.700000,0.002951

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [192]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table)
#SN
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20 to 24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40 to 44
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 to 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 to 24
4,4,Iskosia90,23,Male,131,Fury,1.44,20 to 24

In [193]:
# Group the user and price to find top 5
top_purchasers = purchase_df.groupby(["SN"]).sum()["Price"]
top_purchasers

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [194]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table)
# Purchase Count
top_purchase_count = purchase_df.groupby(["SN"]).count()["Price"]
top_purchase_count

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Price, Length: 576, dtype: int64

In [195]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table)
# Average Purchase Price
top_avg_purchase_price = purchase_df.groupby(["SN"]).mean()["Price"]
top_avg_purchase_price

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [196]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table)
# Total Purchase Value

top_purchase_value

NameError: name 'top_purchase_value' is not defined

In [ ]:
top_spender_summary_df = pd.DataFrame({
    "Top 5 Purchasers": top_purchasers,
    "Top 5 Purchase Count": top_purchase_count,
    "Top 5 Avg Purchase Price": top_avg_purchase_price,
    #"Top 5 Total Purchase Value": top_purchase_value
})


top_spender_summary_df

In [ ]:
# Examine what we have

top_spender_summary_df.describe()

In [ ]:
# Sort in descenidng order

sort_top_spender_summary_df = top_spender_summary_df.sort_values(by=["Top 5 Purchasers"],ascending=False)

sort_top_spender_summary_df

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
purchase_df.head()

In [ ]:
# Item ID, Item Name and Price
 
popular_df = purchase_df[["Item ID", "Item Name", "Price"]]

popular_df

In [ ]:
# Item Name purchase count
popular_item_name_count_df = popular_df.groupby(["Item ID", "Item Name"]).count()["Price"]

popular_item_name_count_df

In [ ]:
# Purchase Count
popular_purchase_sum = popular_df.groupby(["Item Name", "Item ID"]).sum()["Price"]

popular_purchase_sum

In [ ]:
popular_summary_df = pd.DataFrame({
    #"Popular Item Purchase Count": popular_item_name_count_df,
    "Popular Purchase Count": popular_item_name_count_df,
    "Popular Purchase Value": popular_purchase_sum
})


popular_summary_df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
sorted_popular_summary_df = popular_summary_df.sort_values("Popular Purchase Value", ascending=False)

sorted_popular_summary_df